/* Slider handle */
QSlider::handle:horizontal {
    background: #202020;
    border-radius: 5px;
}

/* Left slider */
QSlider::add-page:horizontal {
    background: white;
}

/* Left slider */
QSlider::sub-page:horizontal {
    background: #18BC9C;
}

/* LCD Display */
QLCDNumber {
    background-color: #19232D;
    color: #F0F0F0;
}

QLCDNumber:disabled {
    background-color: #19232D;
    color: #787878;
}

/* Progress bar */
QProgressBar {
    border: 2px solid grey;
    border-radius: 5px;
    text-align: center;
}

QProgressBar::chunk{
    background-color: #05B8CC;
}
